<div class="container-fluid main-container vh-100 ml-home">
  <div class="row h-100">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 h-100 px-0 pic-container">
      <div class="main-pic h-100"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-3rem d-flex flex-center">
      <div class="description-box">

        <h1 class="ml-main-title">Mariel Lozada</h1> 
        <div [innerHTML]='getWords("about-me")'></div>        

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/marielozadab">
              <i class="fab fa-facebook font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/marielozadab">
              <i class="fab fa-twitter-square font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/marielozada/">
              <i class="fab fa-linkedin font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:marielozadab@gmail.com">
              <i class="fas fa-envelope font-30"></i>
            </a>
		  </li>
		  <li class="list-inline-item">
            <a href="https://www.instagram.com/marielozadab/">
              <i class="fab fa-instagram font-30"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
