<div class="container-fluid main-container vh-100 ml-home">
  <div class="row h-100">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 h-100 px-0 pic-container">
      <div class="main-pic h-100"></div>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 pt-3rem d-flex flex-center">
      <div class="description-box">
        <h1 class="ml-main-title">Mariel Lozada</h1>

        <p class="mt-4">Periodista venezolana radicada en New York, especializada en medios digitales y con cinco años de experiencia en temas de salud, género y migración.</p>

        <p>He enfocado mi trabajo en explorar la relación del periodismo y la tecnología, buscando siempre pensar en nuevas narrativas y formatos para contar una historia. Actualmente trabajo como Subeditora en español para la Red Global de Periodismo de Investigación (GIJN), desde donde me encargo de impulsar el periodismo de investigación y de datos en la región y generar y divulgar oportunidades de crecimiento para periodistas hispanoparlantes. </p>

        <p>También pertenezco al equipo digital de La Tercera, desde donde busco el desarrollo de nuevos productos y la mejora de los ya existentes y hacer crecer el programa de suscriptores, además de colaborar como reportera. Durante los últimos años he publicado temas de salud y migración en Efecto Cocuyo, Cinco 8, Distintas Latitudes, Caracas Chronicles, La Tercera y Salud con Lupa. </p>

        <p>Estudié Periodismo de investigación gracias a una alianza de la Columbia University (USA) y la Universidad Diego Portales (Chile) en 2020 y un diplomado en Escritura narrativa de no ficción en la Universidad Alberto Hurtado (Chile - 2017). Me licencié en Comunicación Social en la Universidad Bicentenaria de Aragua (Venezuela - 2016), y estudié desarrollo web becada por la fundación Desafío Latam. Fui parte de la tercera generación de la Red Latam de Jóvenes Periodistas (2019). </p>

        <p class="mb-4">Mi proyecto personal es un boletín sobre tendencias en el mundo del periodismo que se envía cada dos semanas y tiene más de 700 suscriptores.</p>

        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://www.facebook.com/marielozadab">
              <i class="fab fa-facebook font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://twitter.com/marielozadab">
              <i class="fab fa-twitter-square font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/marielozada/">
              <i class="fab fa-linkedin font-30"></i>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="mailto:marielozadab@gmail.com">
              <i class="fas fa-envelope font-30"></i>
            </a>
		  </li>
		  <li class="list-inline-item">
            <a href="https://www.instagram.com/marielozadab/">
              <i class="fab fa-instagram font-30"></i>
            </a>
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
