<div class="container padding-navbar ml-newsletter">
  <div class="row justify-content-center">
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-base" [ngClass]="{'btn-active': currentTab == 'subscribe'}" (click)="tabChange('subscribe')">{{getWords('subscribe')}}</button>
      <button type="button" class="btn btn-base" [ngClass]="{'btn-active': currentTab == 'previous'}" (click)="tabChange('previous')">{{getWords('previous-editions')}}</button>
    </div>
  </div>
    <app-newsletter-list *ngIf="currentTab == 'previous'"></app-newsletter-list>
    <app-newsletter-subscribe *ngIf="currentTab == 'subscribe'"></app-newsletter-subscribe>
</div>
