<div class="container-fluid padding-navbar ml-reportajes">
  <div class="row">
    <app-loader *ngIf="!loaded"></app-loader>
    <div *ngIf="loaded" class="card-columns">
      <div class="card" *ngFor="let reportaje of showing">
        <div class="card-body">
          <img alt="Reportaje" [src]="reportaje.imagen ? reportaje.imagen : 'https://via.placeholder.com/350x350'">
          <div class="card-overlay" [routerLink]="['/reportaje', reportaje.id]">
            <h3 class="card-title text-center px-3" [innerHTML]='reportaje.title.rendered'></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
